/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of RESET */

/* BASIC styles, used all throughout the page */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #555;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orange {
  color: #f42;
}

.centered {
  text-align: center;
}

.opacity {
  opacity: 0.25;
}

h4,
h5 {
  font-size: 14px;
}

h5 {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.maincontent {
  padding-top: 72px;
}

/* nav */

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 48px;
  box-shadow: 0 0 32px rgb(0 0 0 / 15%);
  position: fixed;
}

.nav-logo {
  background-color: black;
  width: 106px;
  padding: 12px;
}

.nav-icon {
  height: 48px;
  width: 48px;
  float: left;
  border-left: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cover */
.cover {
  margin: 0 auto;
  padding: 4px;
  position: relative;
}

.cover-story {
  float: left;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: 100%;
}

.cover article {
  min-height: 30vh;
  position: relative;
}

.lazy {
  transition: 0.4s ease;
  opacity: 0;
  will-change: opacity;
}

.lazyLoaded {
  opacity: 1;
}

.cover-image,
.cover-trigger {
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.cover-header {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
  z-index: 3;
}

.cover h5 {
  color: #fff;
}

.cover .post-body a strong,
.cover a,
.cover h1,
.post-body a .cover strong {
  color: #fff;
}

@media (max-width: 767px) {
  .cover .distraction-title,
  .cover h2 {
    font-size: 20px;
  }
}

.distraction-title,
h2,
h3 {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
}

.distraction-title,
h2 {
  font-family: sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
}

.cover .distraction-title,
.cover h2 {
  margin-bottom: 0.25em;
}

.cover-byline li {
  display: inline-block;
  margin-left: 6px;
}

.cover-byline li:first-child {
  margin-left: 0;
}

.cover-byline .post-body a strong,
.cover-byline a,
.post-body a .cover-byline strong {
  color: hsla(0, 0%, 100%, 0.6);
}

.cover-byline li .icon {
  scale: 0.875;
  float: left;
  margin-right: 4px;
  opacity: 0.6;
  vertical-align: middle;
}

.icon--clock--light {
  /* background-position: -160px -160px; */
  background: transparent
    url(https://img.icons8.com/android/24/000000/clock.png) no-repeat;
}

.icon {
  display: block;
  /* background-size: 1296px 1296px;
  background-position: 1296px 1296px; */
  width: 30px;
  height: 30px;
}

.icon--share--light {
  background-position: -912px -912px;
  background: transparent
    url(https://img.icons8.com/android/24/000000/share.png) no-repeat;
}

.cover-trigger {
  transition: background-color 0.4s ease;
  background: rgba(0, 0, 0, 0.25) url(../img/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}

/* latest */

/* funding */

/* catalog */

/* deals */

/* footer */
