/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of RESET */

/* BASIC styles, used all throughout the page */
* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif; /*no son*/
  line-height: 30px;
  color: #333;
  background-color: white;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Avalon', sans-serif;
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  line-height: 31px;
}

.orange {
  color: #f42;
}

.centered {
  text-align: center;
}

.opacity {
  opacity: .25;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  padding: 0 15px 0 15px;
}


/* nav */

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 48px;
  box-shadow: 0 0 32px rgb(0 0 0 / 15%);
}

.nav-logo {
  background-color: black;
  width: 106px;
  padding: 12px;
}

.nav-icon {
  height: 48px;
  width: 48px;
  float: left;
  border-left: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cover */

/* latest */

.latest-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.latest-row {
  width:100%;
  padding: 8px 8px;

}

.latest-container img {
  object-fit: cover;
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 15px;
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #aaa;
  line-height: 18px;
  font-weight: 400;
}

.tittle-content {
  height: 100%;
  float: right;
}

h3 a:hover {
  color: #f42;
}

/* funding */

/* catalog */

/* deals */

/* footer */
